<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="md-home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Notification" tabIcon="md-notifications"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Schedule" tabIcon="md-calendar"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Profile" tabIcon="md-person"></ion-tab>
</ion-tabs>
