<!-- HEADER-STARTS -->

<ion-header class="theme_primary nav_header">
<button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-round-back"></ion-icon></button>
<div class="nav_header_title floatLeft textCenter">MEDICINE DETAILS</div>
<button ion-button class="nav_btn floatRight"><ion-icon name="ios-more" (click)="mainmenu()"></ion-icon></button>
<div class="clear"></div>
</ion-header>

<!-- HEADER-ENDS -->

<ion-content padding class="theme_secondary">
	<div class="hc_list_wrapper">
  		<ul>
		    <li>
		      <div class="hc_list_detail widthFull">
		        <h4 class="">Lean Macgray</h4>
		        <h6 class="text_color_primary">Treatment Name</h6>
		        <h6 class="text_color_primary">Video</h6>
		        <ion-grid class="p0">
	              <ion-row>
	                <ion-col class="p0">
	                  <h6 class="floatLeft text_color_primary">
	                    <strong class="text_dark">Date -</strong> 
	                    21-Nov-2017
	                  </h6>
	                </ion-col>
	                <ion-col class="p0">
	                  <h6 class="floatRight text_color_primary">
	                    <strong class="text_dark">
	                    Time -</strong> 11:00 AM
	                  </h6>
	                </ion-col>
	              </ion-row>
          		</ion-grid>
		      </div>
		      <div class="clear"></div>
		    </li>
		</ul>
		<div class="h_consultation_detail_div">
    <div class="h_consultation_inner">
      <h5>Medicine Details</h5>
      <textarea class="h_consult_textarea" rows="5" placeholder="Type here"></textarea>
    </div>
  </div>
  <div class="h_consultation_detail_div">
    <div class="h_consultation_inner">
    	<ion-grid class="p0">
	       	<ion-row>
	            <ion-col>
	                <select id="hc_check_button" class="widthFull">
			            <option>Morining</option>
			            <option>Noon</option>
			            <option>Evening</option>
			            <option>Night</option>
        			</select>
	            </ion-col>
	            <ion-col>
	                <select id="hc_check_button" class="widthFull">
            			<option>Before Food</option>
            			<option>After Food</option>
        			</select>
	            </ion-col>
	            <ion-col>
	                <select id="hc_check_button" class="widthFull">
            			<option disabled="1">2 Pills</option>
        			</select>
	            </ion-col>
	        </ion-row>
        </ion-grid>	
    </div>
    <div class="hc_login_form_row">
      <button ion-button class="hc_login_btn theme_primary">Update</button>
    </div>
  </div>
	</div>

</ion-content>
