<!-- HEADER-STARTS -->

<ion-header class="theme_primary nav_header">
<button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-round-back"></ion-icon></button>
<div class="nav_header_title floatLeft textCenter">PAITENT DETAILS</div>
<button ion-button class="nav_btn floatRight"><ion-icon name="ios-more" (click)="mainmenu()"></ion-icon></button>
<div class="clear"></div>
</ion-header>

<!-- HEADER-ENDS -->

<ion-content padding class="theme_secondary">
  <div class="hc_list_wrapper">
    <ul>
      <li>
        <!-- <div class="hc_list_pic">
          <img src="assets/imgs/e_pic3.jpg">
        </div> -->
        <div class="hc_list_detail widthFull">
          <ion-grid class="p0">
              <ion-row>
                <ion-col col-4 class="p0">
                   <h4>Macgray</h4>
                </ion-col>
                <ion-col col-4 class="p0">
                  <h6 class="text_color_primary">21-Nov-2017</h6>
                </ion-col>
                <ion-col col-4 class="p0">
                  <h6 class="text_color_primary floatRight">11:00 AM</h6>
                </ion-col>
              </ion-row>
          </ion-grid>
           <h6 class="text_color_primary">Treatment Name</h6>
           <h6 class="text_color_primary">Mode of Consultation</h6>
        </div>
        <div class="clear"></div>
        <br>
        <hr>
        <div class="hc_consult_history_wrapper">
          <h6 class="textCenter">Medical Details</h6>
        </div>
        <div class="hc_description">
          <h5 class="textLeft p0">Short Description</h5>
          <p>Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, t. Ut enim ad minim venia
            m, quis nostrud exercitation ullamco
          </p>
          <div class="hc_login_form_row textCenter">
            <button class="hc_view_report" (click)="open_page('MedicinedetailPage')">View Medical Report</button>
          </div>
          <ion-grid>
              <ion-row>
                <ion-col col-4>
                  <button ion-button class="hc_social_btn textLeft theme_primary" (click)="textmodal()">Text</button>
                </ion-col>
                <ion-col col-4>
                  <button ion-button class="hc_social_btn textLeft theme_primary" (click)="videomodal()">Video</button>
                </ion-col>
                <ion-col col-4>
                  <button ion-button class="hc_social_btn textLeft theme_primary" (click)="audiomodal()">Call</button>
                </ion-col>
              </ion-row>
          </ion-grid>
        </div>
      </li>
    </ul>
  </div>
</ion-content>
<ion-footer>
  <div class="hc_footer_btn_bay">
    <div class="hc_login_form_row">
        <ion-grid>
            <ion-row>
              <ion-col col-5>
                <button ion-button class="hc_social_btn textLeft theme_primary">Confirm</button>
              </ion-col>
              <ion-col col-2>
              </ion-col>
              <ion-col col-5>
                <button ion-button class="hc_social_btn textRight theme_primary" (click)="open_page('ReschedulePage')">Reschedule</button>
              </ion-col>
            </ion-row>
        </ion-grid>
    </div>
  </div>
</ion-footer>
