<!-- HEADER-STARTS -->

<ion-header class="theme_primary nav_header">
<button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-round-back"></ion-icon></button>
<div class="nav_header_title floatLeft textCenter">CONSULTATION HISTORY</div>
<button ion-button class="nav_btn floatRight"></button>
<div class="clear"></div>
</ion-header>

<!-- HEADER-ENDS -->

<ion-content padding class="theme_secondary">
  <div class="hc_consltation_history_div">
    <div class="hc_login_form_row">
        <ion-item class="hc_login_calender">
              <ion-datetime   placeholder="From Date"  min="2017-11-01" max="2030-10-31" displayFormat="MMM DD YYYY"></ion-datetime>
        </ion-item>
    </div>
    <div class="hc_login_form_row">
        <ion-item class="hc_login_calender">
              <ion-datetime   placeholder="To Date"  min="2017-11-01" max="2030-10-31" displayFormat="MMM DD YYYY"></ion-datetime>
        </ion-item>
    </div>
    <div class="hc_login_form_row">
        <button ion-button class="hc_login_btn theme_primary">Search</button>
      </div>
    <!-- <div class="hc_login_form_row">
        <input class="hc_search" placeholder="Search">
    </div> -->
    <div class="hc_list_wrapper">
      <!-- <h3>Consultation History</h3> -->
      <ul>
        <li class="" (click)="open_page('ConsultationdetailsPage')">
          <!-- <div class="hc_list_pic">
            <img src="assets/imgs/e_pic3.jpg">
          </div> -->
          <div class="hc_list_detail widthFull">
            <ion-grid class="p0">
              <ion-row>
                <ion-col class="p0">
                  <h6 class="floatLeft text_color_primary">
                    <strong class="text_dark">Date -</strong> 
                    21-Nov-2017
                  </h6>
                </ion-col>
                <ion-col class="p0">
                  <h6 class="floatRight text_color_primary">
                    <strong class="text_dark">
                    Time -</strong> 11:00 AM
                  </h6>
                </ion-col>
              </ion-row>
          </ion-grid>
            <div class="clear"></div>
            <h6 class="text_color_primary"><i>Treatment Name</i></h6>
            <h6 class="text_color_primary"><i>Doctor Name</i></h6>
          </div>
          <div class="clear"></div>
        </li>
        <li class="" (click)="open_page('ConsultationdetailsPage')">
          <!-- <div class="hc_list_pic">
            <img src="assets/imgs/e_pic3.jpg">
          </div> -->
          <div class="hc_list_detail widthFull">
            <ion-grid class="p0">
              <ion-row>
                <ion-col class="p0">
                  <h6 class="floatLeft text_color_primary">
                    <strong class="text_dark">Date -</strong> 
                    21-Nov-2017
                  </h6>
                </ion-col>
                <ion-col class="p0">
                  <h6 class="floatRight text_color_primary">
                    <strong class="text_dark">
                    Time -</strong> 11:00 AM
                  </h6>
                </ion-col>
              </ion-row>
          </ion-grid>
            <div class="clear"></div>
            <h6 class="text_color_primary"><i>Treatment Name</i></h6>
            <h6 class="text_color_primary"><i>Doctor Name</i></h6>
          </div>
          <div class="clear"></div>
        </li>
        <!-- <li class="m0">
          <div class="hc_list_pic">
            <img src="assets/imgs/e_pic4.jpg">
          </div>
          <div class="hc_list_detail widthFull">
            <h4>Sophiea Loranze</h4>
            <h6>09:00 PM</h6>
            <h6>Text</h6>
            <h6>Status</h6>
          </div>
          <div class="clear"></div>
        </li> -->
      </ul>
    </div>
  </div>


</ion-content>
