<!-- HEADER-STARTS -->

<ion-header class="theme_primary nav_header">
<button ion-button class="nav_btn floatLeft"></button>
<div class="nav_header_title floatLeft textCenter">DOCTOR PROFILE</div>
<button ion-button class="nav_btn floatRight"><ion-icon name="ios-more" (click)="mainmenu()"></ion-icon></button>
<div class="clear"></div>
</ion-header>

<!-- HEADER-ENDS -->

<ion-content padding class="theme_secondary">
  <div class="hc_doc_profile_wrapper">
    <div class="hc_doc_profile_pic">
      <img src="assets/imgs/e_pic3.jpg">
    </div>
    <div class="hc_bookdetails">
      <ul>
        <li>
        	<ion-grid class="p0">
			  <ion-row>
			    <ion-col col-10 class="p0 textLeft">
			      <p>Name</p>
          		  <h5 class="text_color_primary">Dr. Mathew Morgan</h5>
			    </ion-col>
			    <ion-col col-2 class="p0 textLeft">
			      <p>Age</p>
          		  <h5 class="text_color_primary">35</h5>
			    </ion-col>
			  </ion-row>
			</ion-grid>   
        </li>
        <li>
        	<ion-grid class="p0">
			  <ion-row>
			    <ion-col col-5 class="p0 textLeft">
			      <p>Gender</p>
          		  <h5 class="text_color_primary">Male</h5>
			    </ion-col>
			    <ion-col col-7 class="p0 textLeft">
			      <p>Specialization</p>
          		  <h5 class="text_color_primary">Cardio Specialist</h5>
			    </ion-col>
			  </ion-row>
			</ion-grid>   
        </li>
        <li>
        	<ion-grid class="p0">
			  <ion-row>
			    <ion-col col-5 class="p0 textLeft">
			      <p>Experience</p>
          		  <h5 class="text_color_primary">10 Years</h5>
			    </ion-col>
			    <ion-col col-7 class="p0 textLeft">
			      <p>Rating</p>
		            <div class="hc_stars">
		              <form>
		                <span class="rating">
		                <input type="radio" value="5" class="star star-5" id="rating-input-1-5" ng-model="star.val" name="val"><label for="rating-input-1-5" class="star star-5"></label>
		                <input type="radio" value="4" class="star star-4" id="rating-input-1-4" ng-model="star.val" name="val"> <label for="rating-input-1-4" class="star star-4"></label>
		                <input type="radio" value="3" class="star star-3" id="rating-input-1-3" ng-model="star.val" name="val"> <label for="rating-input-1-3" class="star star-3"></label>
		                <input type="radio" value="2" class="star star-2" id="rating-input-1-2" ng-model="star.val" name="val"> <label for="rating-input-1-2" class="star star-2"></label>
		                <input type="radio" value="1" class="star star-1" id="rating-input-1-1" ng-model="star.val" name="val"> <label for="rating-input-1-1" class="star star-1"></label>
		                <div class="clear"></div>
		                </span>
		                <div class="clear"></div>
		              </form>
		              <p class="hc_rate">4.9</p>
		            </div>
		        </ion-col>
			  </ion-row>
			</ion-grid>   
        </li>
        <li></li>
        <div class="hc_description">
   		 <h5>Short Description</h5>
    		<p>Lorem ipsum dolor sit amet, consectetur
			adipiscing elit, t. Ut enim ad minim venia
			m, quis nostrud exercitation ullamco</p>
  		</div>
      </ul>
    </div>
  </div>
</ion-content>
