<!-- HEADER-STARTS -->

<ion-header class="theme_primary nav_header">
  <button ion-button class="nav_btn floatLeft" (click)="dismiss()"><ion-icon name="ios-arrow-round-back"></ion-icon></button>
  <div class="nav_header_title floatLeft textCenter">CHAT</div>
  <button ion-button class="nav_btn floatRight"></button>
  <div class="clear"></div>
</ion-header>

<!-- HEADER-ENDS -->

<ion-content padding class="theme_secondary">
  <div class="hc_message_list">
    <ul>
      <li class="hc_send">
        <div class="hc_message">
          <div class="hc_message_pic"><img src="assets/imgs/e_pic3.jpg"></div>
          <div class="hc_message_text">
            <h6 class="name">Dummy name</h6>
            <h6 class="time">12:00</h6>
            <div class="clear"></div>
            Lorem ipsum dolor sit amet, consectetur
adipiscing elit, t. Ut enim ad minim veniam,
Lorem ipsum dolor sit amet, consectetur
Lorem ipsum dolor sit amet, consectetur</div>
          <div class="clear"></div>
        </div>
      </li>
      <li class="hc_receive">
        <div class="hc_message">
          <div class="hc_message_pic"><img src="assets/imgs/e_pic2.jpg"></div>
          <div class="hc_message_text">
            <h6 class="name">Dummy name</h6>
            <h6 class="time">12:00</h6>
            <div class="clear"></div>
            Lorem ipsum dolor sit amet, consectetur
adipiscing elit, t. Ut enim ad minim veniam,
Lorem ipsum dolor sit amet, consectetur
Lorem ipsum dolor sit amet, consectetur</div>
          <div class="clear"></div>
        </div>
      </li>
      <li class="hc_send">
        <div class="hc_message">
          <div class="hc_message_pic"><img src="assets/imgs/e_pic3.jpg"></div>
          <div class="hc_message_text">
            <h6 class="name">Dummy name</h6>
            <h6 class="time">12:00</h6>
            <div class="clear"></div>
            Lorem ipsum dolor sit amet, consectetur
adipiscing elit, t. Ut enim ad minim veniam,
Lorem ipsum dolor sit amet, consectetur
Lorem ipsum dolor sit amet, consectetur</div>
          <div class="clear"></div>
        </div>
      </li>
      <li class="hc_receive">
        <div class="hc_message">
          <div class="hc_message_pic"><img src="assets/imgs/e_pic2.jpg"></div>
          <div class="hc_message_text">
            <h6 class="name">Dummy name</h6>
            <h6 class="time">12:00</h6>
            <div class="clear"></div>
            Lorem ipsum dolor sit amet, consectetur
adipiscing elit, t. Ut enim ad minim veniam,
Lorem ipsum dolor sit amet, consectetur
Lorem ipsum dolor sit amet, consectetur</div>
          <div class="clear"></div>
        </div>
      </li>
      <li class="hc_send">
        <div class="hc_message">
          <div class="hc_message_pic"><img src="assets/imgs/e_pic3.jpg"></div>
          <div class="hc_message_text">
            <h6 class="name">Dummy name</h6>
            <h6 class="time">12:00</h6>
            <div class="clear"></div>
            Lorem ipsum dolor sit amet, consectetur
adipiscing elit, t. Ut enim ad minim veniam,
Lorem ipsum dolor sit amet, consectetur
Lorem ipsum dolor sit amet, consectetur</div>
          <div class="clear"></div>
        </div>
      </li>
      <li class="hc_receive">
        <div class="hc_message">
          <div class="hc_message_pic"><img src="assets/imgs/e_pic2.jpg"></div>
          <div class="hc_message_text">
            <h6 class="name">Dummy name</h6>
            <h6 class="time">12:00</h6>
            <div class="clear"></div>
            Lorem ipsum dolor sit amet, consectetur
adipiscing elit, t. Ut enim ad minim veniam,
Lorem ipsum dolor sit amet, consectetur
Lorem ipsum dolor sit amet, consectetur</div>
          <div class="clear"></div>
        </div>
      </li>
    </ul>
  </div>
</ion-content>
<ion-footer>
  <div class="hc_message_bottom">
    <input class="hc_message_input" placeholder="Type your message...">
    <button class="hc_send_btn"></button>
      <div class="clear"></div>
  </div>
</ion-footer>
