
   <!-- HEADER-STARTS -->

<ion-header class="theme_primary nav_header">
  <button ion-button class="nav_btn floatLeft"></button>
  <div class="nav_header_title floatLeft textCenter">NOTIFICATION</div>
  <button ion-button class="nav_btn floatRight"><ion-icon name="ios-more" (click)="mainmenu()"></ion-icon></button>
  <div class="clear"></div>
</ion-header>

  <!-- HEADER-ENDS -->

<ion-content padding class="theme_secondary">
  <div class="hc_notification_wrap">
    <div class="h_consultation_inner">
      <ul>
        <li>
          <h5>22-Nov-2017&nbsp;&nbsp;|&nbsp;&nbsp;01:00 PM</h5>
          <p class="text_color_primary">Confirmed Appointment</p>
        </li>
        <li>
          <h5>23-Nov-2017&nbsp;&nbsp;|&nbsp;&nbsp;03:00 PM</h5>
          <p class="text_color_primary">Confirmed Appointment</p>
        </li>
        <li>
          <h5>24-Nov-2017&nbsp;&nbsp;|&nbsp;&nbsp;11:00 PM</h5>
          <p class="text_color_primary">Appointment Cancelled</p>
        </li>
        <li class="borderNone">
          <h5>25-Nov-2017&nbsp;&nbsp;|&nbsp;&nbsp;05:00 PM</h5>
          <p class="text_color_primary">Appointment Reschedulled</p>
        </li>
      </ul>
    </div>
  </div>
</ion-content>
