
   <!-- HEADER-STARTS -->

<ion-header class="theme_primary nav_header">
  <button ion-button class="nav_btn floatLeft"></button>
  <div class="nav_header_title floatLeft textCenter">WELCOME</div>
  <button ion-button class="nav_btn floatRight"><ion-icon name="ios-more" (click)="mainmenu()"></ion-icon></button>
  <div class="clear"></div>
</ion-header>

  <!-- HEADER-ENDS -->

<ion-content padding class="theme_secondary">

  <!-- WELCOME-DIV-START -->

  <div class="hc_welcome_div">
    <div class="hc_welcome_banner">
      <div class="hc_list_pic">
        <img src="assets/imgs/e_pic3.jpg">
      </div>
      <div class="hc_welcome_detail">
        <h4 class="text_color_primary">21-Nov-2017</h4>
        <h4 class="p0 text_color_primary">11:00 AM</h4>
      </div>
      <div class="clear"></div>
    </div>
    <div class="hc_welcome_body">
      <div class="hc_login_form_row">
        <button ion-button class="hc_social_btn theme_primary" (click)="open_page('ProfilePage')">Profile</button>
      </div>
      <div class="hc_login_form_row">
        <button ion-button class="hc_social_btn theme_primary" (click)="open_page('AppointmentsPage')">Appointments</button>
      </div>
      <div class="hc_login_form_row">
        <button ion-button class="hc_social_btn theme_primary" (click)="open_page('ConsultationhistoryPage')">Consultation History</button>
      </div>
    </div>
  </div>

  <!-- WELCOME-DIV-ENDS -->

</ion-content>
