<!-- HEADER-STARTS -->

<ion-header class="theme_primary nav_header">
  <button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-round-back"></ion-icon></button>
  <div class="nav_header_title floatLeft textCenter">CONSULTATION DETAILS</div>
  <button ion-button class="nav_btn floatRight"></button>
  <div class="clear"></div>
</ion-header>

<!-- HEADER-ENDS -->

<ion-content padding class="theme_secondary">
  <div class="hc_list_wrapper">
      <!-- <h3>Consultation History</h3> -->
      <ul>
        <li class="" >
          <!-- <div class="hc_list_pic">
            <img src="assets/imgs/e_pic3.jpg">
          </div> -->
          <div class="hc_list_detail widthFull">
            <ion-grid class="p0">
              <ion-row>
                <ion-col class="p0">
                  <h6 class="floatLeft text_color_primary">
                    <strong class="text_dark">Date -</strong> 
                    21-Nov-2017
                  </h6>
                </ion-col>
                <ion-col class="p0">
                  <h6 class="floatRight text_color_primary">
                    <strong class="text_dark">
                    Time -</strong> 11:00 AM
                  </h6>
                </ion-col>
              </ion-row>
            </ion-grid>
            <div class="clear"></div>
            <h6 class="text_color_primary"><i>Treatment Name</i></h6>
            <h6 class="text_color_primary"><i>Paitent Name</i></h6>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <div class="hc_description">
             <h5>Consultation Brief</h5>
             <hr>
              <p>Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, t. Ut enim ad minim venia
            m, quis nostrud exercitation ullamco</p>
          </div>
        </li>
        <div class="hc_login_form_row">
          <div class="hc_consult_medicine" (click)="open_page('MedicinePage')">
            <p>Medicine Details</p>
          </div>
        </div>
        <li>
          <div class="hc_description">
             <h5>Next Consultation</h5>
             <hr>
              <ion-grid class="p0">
                <ion-row>
                  <ion-col class="p0">
                    <ion-item class="hc_login_calender">
                     <ion-datetime   placeholder="Date - Select"  min="2017-11-01" max="2030-10-31" displayFormat="MMM DD YYYY"></ion-datetime>
                    </ion-item>
                  </ion-col>
                  <ion-col class="p0">
                    <ion-item class="hc_time">
            <ion-datetime placeholder="Time -Select"  displayFormat="h:mm:ss a" ></ion-datetime>
      </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
          </div>
        </li>
        <div class="hc_login_form_row">
          <button ion-button class="hc_login_btn theme_primary">Submit</button>
        </div>
      </ul>
    </div>
</ion-content>
