<!-- HEADER-STARTS -->

<ion-header class="theme_primary nav_header">
<button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-round-back"></ion-icon></button>
<div class="nav_header_title floatLeft textCenter">RESCHEDULE</div>
<button ion-button class="nav_btn floatRight"></button>
<div class="clear"></div>
</ion-header>

<!-- HEADER-ENDS -->

<ion-content padding class="theme_secondary">
  <div class="hc_list_wrapper">
    <ul>
      <li>
        <!-- <div class="hc_list_pic">
          <img src="assets/imgs/e_pic3.jpg">
        </div> -->
        <div class="hc_list_detail widthFull">
          <ion-grid class="p0">
              <ion-row>
                <ion-col col-4 class="p0">
                   <h4>Macgray</h4>
                </ion-col>
                <ion-col col-4 class="p0">
                  <h6 class="text_color_primary">21-Nov-2017</h6>
                </ion-col>
                <ion-col col-4 class="p0">
                  <h6 class="text_color_primary floatRight">11:00 AM</h6>
                </ion-col>
              </ion-row>
          </ion-grid>
           <h6 class="text_color_primary">Treatment Name</h6>
           <h6 class="text_color_primary">Mode of Consultation</h6>
        </div>
        <div class="clear"></div>
        <br>
        <hr>
        <div class="hc_consult_history_wrapper">
          <h6 class="textCenter">Medical Details</h6>
        </div>
        <div class="hc_description">
          <h5 class="textLeft p0">Short Description</h5>
          <p>Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, t. Ut enim ad minim venia
            m, quis nostrud exercitation ullamco
          </p>
          <div class="hc_login_form_row textCenter">
            <button class="hc_view_report">View Medical Report</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="hc_login_form_row">
      <ion-item class="hc_login_calender">
            <ion-datetime   placeholder="Select Date"  min="2017-11-01" max="2030-10-31" displayFormat="MMM DD YYYY"></ion-datetime>
      </ion-item>
  </div>
  <div class="hc_login_form_row">
      <ion-item class="hc_time">
            <ion-datetime placeholder="Select Time"  displayFormat="h:mm:ss a" ></ion-datetime>
      </ion-item>
  </div>
  <div class="hc_login_form_row">
    <button ion-button class="hc_login_btn theme_primary">Confirm</button>
  </div>
</ion-content>
