<!-- HEADER-STARTS -->

<ion-header class="theme_primary nav_header">
  <button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-round-back"></ion-icon></button>
  <div class="nav_header_title floatLeft textCenter">MEDICINE DETAILS</div>
  <button ion-button class="nav_btn floatRight"></button>
  <div class="clear"></div>
</ion-header>

<!-- HEADER-ENDS -->

<ion-content padding class="theme_secondary">
  <div class="h_consultation_detail_div">
    <div class="h_consultation_inner">
      <h5>Medicine Details</h5>
      <textarea class="h_consult_textarea" rows="5" placeholder="Type here"></textarea>
    </div>
  </div>
  <div class="h_consultation_detail_div">
    <div class="h_consultation_inner">
      <h5>Next Consultation Time</h5>
      <div class="hc_timeschedule">
          <ul>
            <li id="hc_check_button">
                <label>
                  <input id="1" type="checkbox" name="services" value="">
                  <p>11:00 AM</p>
                </label>
            </li>
            <li id="hc_check_button">
                <label>
                  <input id="1" type="checkbox" name="services" value="">
                  <p>11:00 AM</p>
                </label>
            </li>
            <li id="hc_check_button">
                <label>
                  <input id="1" type="checkbox" name="services" value="">
                  <p>11:00 AM</p>
                </label>
            </li>
            <li id="hc_check_button">
                <label>
                  <input id="1" type="checkbox" name="services" value="">
                  <p>11:00 AM</p>
                </label>
            </li>
            <li id="hc_check_button">
                <label>
                  <input id="1" type="checkbox" name="services" value="">
                  <p>11:00 AM</p>
                </label>
            </li>
          </ul>
      </div>
    </div>
    <div class="hc_login_form_row">
      <button ion-button class="hc_login_btn theme_primary">Send</button>
    </div>
  </div>
</ion-content>
