<ion-content class="theme_transparent" (click)="close()">
  <div class="hc_main_menu">
    <div class="hc_main_menu_top theme_primary">
      <div class="hc_menu_circle floatLeft">
      </div>
      <div class="hc_menu_detail floatLeft">
        Doctor name
      </div>
      <div class="clear"></div>
    </div>
    <ul>
      <li (click)="close()">User Profile</li>
      <li (click)="open_page('ConsultationhistoryPage')">Consultation History</li>
      <li>Medicine</li>
      <li (click)="open_page('LoginPage')">Logout</li>
      <li><div class="hc_version_count"><p>Version 0.1</p></div></li>
    </ul>
  </div>

</ion-content>
